<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>YelpCamp</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
        integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
</head>

<body class="d-flex text-center text-white bg-dark">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        <header class="mb-auto">
            <div>
                <h3 class="float-md-left mb-0">Logo</h3>
            </div>
        </header>
        <main class="px-3" >
            <h1>참여 예산</h1>
            <p style="font-size: 20px;">
            <br class="lead"> Welcome! <br> 참여 예산은 국민들이 직접 예산 편성 과정에 참여하여 세금 사용을 결정하는 제도입니다. <br>
            참여 예산은 '직접 참여, 투명성, 책임성, 효율성' 이러한 4가지 핵심 가치를 바탕으로 국민과 함께 더 나은 사회를 만들어가도록 노력하며,
             <br>국민들이 직접 세금 사용을 결정하고, 지역 사회를 변화시킬 수 있는 중요한 제도입니다. 국민들의 적극적인 참여를 통해 더욱 나은 사회를 만들 수 있습니다.</br></p>
            <a href="/participation/index" class="btn btn-lg btn-secondary font-weight-bold border-white bg-black" style="margin-top: 30px;" >Get involved</a>
        </main>



    </div>


    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"
        integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/"
        crossorigin="anonymous"></script>
</body>

</html>